{% extends "base.html" %}

{% block content %}
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-12">
          <v-toolbar dark color="primary">
            <v-toolbar-title>Login</v-toolbar-title>
          </v-toolbar>
          {% if form.errors %}
          <v-alert class="py-1 my-0 mb-2" :value="true" type="error">
            Your username and password didn't match. Please try again.  
          </v-alert>
          {% endif %}    
          <v-card-text>                
            <v-form method="POST" action="{% url 'login' %}" id="nativeForm">
              {% csrf_token %}
              <v-text-field prepend-icon="person" name="username" label="Username" type="text"></v-text-field>
              <v-text-field id="password" prepend-icon="lock" name="password" label="Password" type="password"></v-text-field>
            </v-form>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions class="grey lighten-3">
            <v-spacer></v-spacer>
            <v-btn @click="send" color="primary">Login</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
{% endblock content %}        

{% block script %}
<script>
    new Vue({
        el: '#app',
        data: {
          askLogin:true,    
        },
        methods: {
            send() {
                nativeForm.submit()          
            }
        }
    })
</script>
{% endblock script %}
