{% extends "base.html" %}

{% block content %}
<v-container fluid fill-height>
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md4>
      <v-card class="elevation-12">
        <v-toolbar dark color="primary">
          <v-toolbar-title>Select Chat Room</v-toolbar-title>
        </v-toolbar>
        <v-card-text>                
            <v-text-field v-model="roomName" prepend-icon="chat" label="Room Name" type="text"></v-text-field>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions class="grey lighten-3">
          <v-spacer></v-spacer>
          <v-btn @click="select" color="primary">Select</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</v-container>
{% endblock content %}

{% block script %}
<script>
    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: () => ({
          roomName: ''
        }),     
        methods: {
          select () {
            window.location.pathname = '/chat/' + this.roomName + '/';
          }
        }
    })
</script>    
{% endblock script %}
