{% extends "base.html" %}

{% block content %}
<v-flex xs12 class="ma-4">
    <v-card class="pb-4 rounded">         
        <v-card-title class="blue white--text">
            <span><b class="headline"> Room name: [[ roomName ]] </b></span>
            <v-spacer></v-spacer>
        </v-card-title>
        <v-divider class="mb-3"></v-divider>        
        {% include "./chatAreaBase.html" %}    
    </v-card>
 </v-flex>  
{% endblock content %}

{% block style%}
<style>
    .rounded {border-radius: 30px}
    .chat-box{
        max-height:300px;
        overflow:scroll;
    }
</style>
{% endblock style %}

{% block script %}
<script>
    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: () => ({
            roomName: {{ room_name_json }},
            privateView: true,
            message: '',
            messages: [],
            noMessages: true,
            loggedInUser: {{ current_user }}[0],
            chatSocket: new WebSocket('ws://' + window.location.host + '/ws/chat/' + {{ room_name_json }} + '/')    
        }),     
        methods: {
            send () {
               this.chatSocket.send(JSON.stringify({
                   'message': this.message,
                   'name': this.loggedInUser.fields.username
               }));
               this.message = ''
            },
            recieveMessage (message) {
                this.noMessages = false
                this.messages.push(message)
            }
        },
        created () {
            this.chatSocket.onmessage = (m) => {
                let message = {
                     name: JSON.parse(m.data).name,
                     message: JSON.parse(m.data).message
                 }
                this.recieveMessage(message)
            }
        }
    })
</script>
{% endblock script %}


