{% extends "base.html" %}

{% block content %}
  <v-layout>

		<v-flex xs2 class="ml-3">

			<v-card class="rounded mt-2" height="100%">
			  <v-card-title class="blue white--text py-3">
			      <span class="ml-2">Chat list</span>
			  </v-card-title>
			    <v-list subheader>
					<v-subheader>Online users</v-subheader><v-divider></v-divider>
					<v-list-tile v-for="user in onlineUsers" :key="user.pk" avatar @click="selectUser(user)">
            <v-list-tile-avatar>
              <img src="https://www.freewebmentor.com/default-avatar.png" >
            </v-list-tile-avatar>
					<v-list-tile-content>
					  <v-list-tile-title v-html="user.fields.username"></v-list-tile-title>
					</v-list-tile-content>
					<v-list-tile-action>
					  <v-icon :color="user.fields.is_active ? 'green' : 'grey'">chat_bubble</v-icon>
					</v-list-tile-action>
					</v-list-tile>
			    </v-list>
			</v-card>
		</v-flex>

    <v-flex xs10 class="ma-2 mx-3">
      <v-card  class="pb-4 rounded">
          <v-card-title class="blue white--text py-3">
            <v-layout>
                <span>[[selectedUser.fields.username]] </span>
              <v-spacer></v-spacer>
              <v-avatar
              :size="25"
              color="grey lighten-4"
              src="selectedUser.avatar"
              >
              <img v-bind:src="imgURL()" alt="avatar">
            </v-avatar>
          </v-layout>
          </v-card-title>
          <v-divider></v-divider>
          <v-flex id="chatArea" class="chat-box pa-3" elevation-0>
              <div class="">
                  No messages yet
              </div>
          </v-flex>
        <v-divider></v-divider>    	
        <v-layout class="mx-4">
            <v-text-field
              hide-details
              label="Type here to send"
              v-model="message"
              v-on:keyup.enter="send"
            ></v-text-field>
      </v-layout>
    </v-card>
  </v-flex>

<v-layout>
{% endblock content %}


{% block style %}
<style>
    .rounded {border-radius: 15px;}
    .chat-box{overflow-y: scroll;}
</style>
{% endblock style %}


{% block script %}
<script>
    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
          onlineUsers: {{ users }},
          loggedInUser: {{ current_user }},
          selectedUser: {{ selected_user }}[0],          
          message: ''
        },
        methods:{
          selectUser(user){
            this.selectedUser=user    
            window.location.href = '/message/' + user.pk                  
          },
          imgURL(){
            return "https://www.freewebmentor.com/default-avatar.png"                     
          }
        },
        created(){
          if (this.selectedUser.length === 1) this.selectedUser = this.onlineUsers[0]
        }
    })
</script>
{% endblock script %}