{% extends "base.html" %}

{% block content %}
  <v-layout>

		<v-flex xs2 class="ml-3">

			<v-card class="rounded mt-2">
			  <v-card-title class="blue white--text py-3">
			      <span class="ml-2">Chat list</span>
			  </v-card-title>
			    <v-list subheader>
					<v-subheader>Online users</v-subheader><v-divider></v-divider>
					<v-list-tile v-for="user in onlineUsers" v-if="user.pk !== loggedInUser.pk" :key="user.pk" avatar @click="selectUser(user)">
            <v-list-tile-avatar>
              <img src="https://www.freewebmentor.com/default-avatar.png" >
            </v-list-tile-avatar>
					<v-list-tile-content>
					  <v-list-tile-title v-html="user.fields.username"></v-list-tile-title>
					</v-list-tile-content>
					<v-list-tile-action>
					  <v-icon :color="user.fields.is_active ? 'green' : 'grey'">chat_bubble</v-icon>
					</v-list-tile-action>
					</v-list-tile>
			    </v-list>
			</v-card>
		</v-flex>

    <v-flex xs10 class="ma-2 mx-3">
      <v-card class="rounded pb-4">
          <v-card-title class="blue white--text py-3">
            <v-layout v-if="privateView">
                <span>[[selectedUser.fields.username]] </span>
              <v-spacer></v-spacer>
              <v-avatar
              :size="25"
              color="grey lighten-4"
              src="selectedUser.avatar"
              >
              <img v-bind:src="imgURL()" alt="avatar">
            </v-avatar>
          </v-layout>
          <span v-else> Please select a user to chat with </span>
          </v-card-title>
          <v-divider></v-divider>
          {% include "./chatAreaBase.html" %}    
    </v-card>
  </v-flex>

<v-layout>
{% endblock content %}


{% block style %}
<style>
    .rounded {border-radius: 15px;}
    .chat-box{overflow-y: scroll;}
</style>
{% endblock style %}


{% block script %}
<script>
    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
          privateView: false,
          onlineUsers: {{ users }},
          loggedInUser: {{ current_user }}[0],
          selectedUser: {{ selected_user }}[0],          
          message: '',
          chatSocket: null,
          messages: [],
          noMessages: true
        },
        methods:{
          selectUser(user){
            this.selectedUser=user   
            this.noMessages = true             
            this.messages = []
            window.location.href = '/message/' + user.pk                  
          },
          imgURL(){
            return "https://www.freewebmentor.com/default-avatar.png"                     
          },
          getChatToken(){
            if (this.loggedInUser.pk < this.selectedUser.pk) {
              return this.loggedInUser.pk + this.loggedInUser.fields.username + this.selectedUser.pk + this.selectedUser.fields.username
            } else {
              return this.selectedUser.pk + this.selectedUser.fields.username + this.loggedInUser.pk + this.loggedInUser.fields.username
            }
          },
          recieveMessage (message) {
              this.noMessages = false
              this.messages.push(message)
          },
          send() {
               this.chatSocket.send(JSON.stringify({
                   'message': this.message,
                   'name': this.loggedInUser.fields.username
               }));
               this.message = ''            
          }        
        },
        created(){
          if (this.selectedUser.length !== 1) this.privateView = true
          if (this.privateView) {
            this.chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/' + this.getChatToken() + '/')
            this.chatSocket.onmessage = (m) => {
              let message = {
                   name: JSON.parse(m.data).name,
                   message: JSON.parse(m.data).message
               }
              console.log(message)
              this.recieveMessage(message)
            }
          }  
        }
    })
</script>
{% endblock script %}