{% extends "base.html" %}

{% block content %}

<v-container v-if="askName" fluid fill-height>
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md4>
      <v-card class="elevation-12">
        <v-toolbar dark color="primary">
          <v-toolbar-title>Please Enter Your Name</v-toolbar-title>
        </v-toolbar>
        <v-card-text>    
            <v-text-field
              label="Please Enter Your Name"
              v-model="name"
              prepend-icon="person"
        ></v-text-field> 
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions class="grey lighten-3">
          <v-spacer></v-spacer>
          <v-btn @click.native="validateName()" color="primary">Confirm</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</v-container>

<v-flex xs12 v-if="!askName" class="ma-4">
    <v-card class="pb-4 rounded">         

        <v-card-title class="blue white--text">
            <span><b class="headline"> Room name: [[ roomName ]] </b></span>
            <v-spacer></v-spacer>
        </v-card-title>

        <v-divider class="mb-3"></v-divider>        
        <v-flex id="chatArea" class="chat-box mx-4" elevation-0 max-height="200">
            <div v-if="noMessages" class="mb-3">
                No messages yet
            </div>
            <div class="mb-4" v-else v-for="message in messages">
                <div v-if="message.name !== name">
                    <span class="ml-2 mb-1"> <b> [[ message.name ]]: </b> </span> <br>
                    <span class="rounded green white--text px-4 py-1"> [[ message.message ]] </span>
                </div>
                <v-layout v-else>
                    <v-spacer></v-spacer>
                    <span class="rounded grey lighten-3 black--text px-4 py-2"> [[ message.message ]] </span>                           
                </v-layout>
            </div>    
        </v-flex>
        <v-divider></v-divider>
        <v-layout class="mx-4">
            <v-text-field
              hide-details  
              label="Send Message"
              v-model="message"
            ></v-text-field>   
            <v-btn @click="send" round color="primary" dark>Send</v-btn>      
    </v-layout>
    </v-card>
 </v-flex>  

{% endblock content %}

{% block style%}
<style>
    .rounded {border-radius: 30px}
    .chat-box{
        max-height:300px;
        overflow:scroll;
    }
</style>
{% endblock style %}

{% block script %}
<script>
    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: () => ({
            name: '',
            askName: true,
            roomName: {{ room_name_json }},
            message: '',
            messages: [],
            noMessages: true,
            chatSocket: new WebSocket('ws://' + window.location.host + '/group_chat/ws/' + {{ room_name_json }} + '/')    
        }),     
        methods: {
            send () {
               this.chatSocket.send(JSON.stringify({
                   'message': this.message,
                   'name': this.name
               }));
               this.message = ''
            },
            recieveMessage (message) {
                this.noMessages = false
                this.messages.push(message)
            },
            validateName () {
                if(this.name) this.askName = false
            }
        },
        created () {
            this.chatSocket.onmessage = (m) => {
                let message = {
                     name: JSON.parse(m.data).name,
                     message: JSON.parse(m.data).message
                 }
                console.log(message)
                this.recieveMessage(message)
            }
        }
    })
</script>
{% endblock script %}


